/*PC >=1024px*/
@media only screen and (min-width: 64em) {
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
      ul{
        width: 100%;
        display: table;
        text-align: center;
     }
    li {
        display: inline-block;
        padding: 20px;
        height: 30px;
        line-height: 30px;
    }
    li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 20px;
        font-family: sans-serif;
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }
    .menuItem a:hover {
        color: white;
        transform: translateY(5px);
        background-color: #c6b1b1;
    }
    .leftMenu {
        float: left;   
    }
    .leftMenu a {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    #menu {
            position: sticky;
             top: 0;
             background-color: #c6b1b1;
             opacity: 0.9;
    }
    
    #body {
        position: absolute;
        top: 0;
        margin: auto
    }
    .homeImg {
        margin-bottom: 2px;
        display: block;
        width: 100%;
        height: 800px;
        object-fit: cover;
        overflow: hidden;
        margin-top: -77px;
    }
    .welcomeContainer {
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        margin-top: 250px;
    }
    .welcomeContainer img {
        width: 350px;
    }
    .welcomeRight {
        max-width: 400px;
        margin-left: 100px;
    }
    #exploreMore {
        padding-top: 8.125rem;
    }
    .welcomeRight p {
        display: inline-block;
        margin-bottom: 80px;
        margin-top: 60px;
        color: #807891;
        font-family: 'Cookie', cursive;
        font-size: 35px;
        font-weight: 400;
    }
    .welcomeRight h3 {
    margin-bottom: 40px;
    color: #5e5252;
    font-weight: 500;
    font-family: 'Cookie', cursive;
    font-size: 70px;
    }
    .welcomeRight h2 {
        margin-bottom: 40px;
        font-weight: 200;
        font-family: 'Cinzel', serif;
        font-size: 30px;
        font-weight: 600;
    }
    .welcomeRight a {
    color: #796060;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Cookie', cursive;
    padding: 20px;
    border: 2px solid #101010;
    border-radius: 5px;
    text-decoration: none;
    }
    .line {
        border-top: 2px solid #CECECE;
    }
    .place { 
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("HomeImages/chua.jpg");
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }
    .food h3 {
        font-family: 'Cinzel', serif;
        font-weight: 900;
        font-size: 30px;
    }
    }
    #localCuisine{
        margin-bottom: 1px;
    }
    .place img {
        width: 300px
    }
    .food {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .food img{
        width: 120px;
        margin-top: 20px;
    }
    .titleCuisine {
        padding: 20px;
        background-color: #FCF5C7;
        display: inline-block;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .cuisineContainer {
        margin-bottom: 150px;
        margin-top: 100px;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
    }
    .cuisineContainer h5 {
        font-family: 'Merriweather', serif;
        font-size: 20px ;
    }
    .cuisineContainer img {
        width: 300px;
        margin-bottom: 30px;
    }
    .cuisine {
        text-align: center;
    }
    .titlePlace {
        padding: 20px 49px 20px 49px;
        background-color: #FCF5C7;
        display: inline-block;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .contact {
        flex-direction: row;
        display: flex;
        margin-bottom: 20px;
    }
    .titleContact {
        padding: 20px 40px 20px 40px;
        background-color: #FCF5C7;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .footer {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .footerImg {
        flex: 1;
        text-align: center;
    }
    .footerImg img {
        width: 35px;
        height: 35px;
    }
    .mobileMenu {
        display: none;
    }
    .navMobile {
        display: none;
    }
    .mobileClose {
        display: none
    }
    .navInput {
        display: none
    }

/*Mobile < 740px*/
@media only screen and (max-width: 46.1875em) {
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
      ul{
        width: 100%;
        display: table;
        text-align: center;
     }
    li {
        /* display: inline-block; */
        padding: 20px;
        height: 30px;
        line-height: 30px;
        list-style-type: none;
    }
    li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 20px;
        font-family: sans-serif;
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }
    .menuItem a:hover {
        color: white;
        /* transform: translateY(5px); */
        background-color: #c6b1b1;
    }
    .leftMenu {
        float: left;   
    }
    .leftMenu a {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    #menu {
            /* position: sticky;
             top: 0;
             background-color: #c6b1b1;
             opacity: 0.9; */
             display: none;
    }
    
    #body {
        position: absolute;
        top: 0;
        margin: auto
    }
    .homeImg {
        margin-bottom: 2px;
        display: block;
        width: 100%;
        height: 800px;
        object-fit: cover;
        overflow: hidden;
        margin-top: -77px;
    }
    .welcomeContainer {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 250px;
        margin-top: 250px;
        text-align: center;
    }
    .welcomeContainer img {
        width: 350px;
    }
    .welcomeRight {
        max-width: 350px;
        /* margin-left: 100px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcomeRight p {
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 20px;
        color: #807891;
        font-family: 'Cookie', cursive;
        font-size: 35px;
        font-weight: 400;
    }
    .lineMobile {
        border-bottom: 2px solid black;
        display: block;
        width: 100px;
    }
    .welcomeRight h3 {
        margin-bottom: 40px;
        color: #5e5252;
        font-weight: 500;
        font-family: 'Cookie', cursive;
        font-size: 70px;
    }
    .welcomeRight h2 {
        margin-bottom: 20px;
        font-weight: 200;
        font-family: 'Cinzel', serif;
        font-size: 30px;
        font-weight: 600;
    }
    .welcomeRight a {
        color: #666262;
        font-size: 32px;
        font-weight: 600;
        padding: 15px 75px;
        border: 2px solid #101010;
        border-radius: 5px;
        text-decoration: none;
        font-family: 'Cookie', cursive;
    }
    .line {
        border-top: 2px solid #CECECE;
    }
    .place { 
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("HomeImages/chua.jpg");
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }

    .food h3 {
        font-family: 'Cinzel', serif;
        font-weight: 900;
        font-size: 30px;
    }

    #localCuisine{
        margin-bottom: 1px;
    }
    .place img {
        width: 300px
    }
    .food {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .food img{
        width: 100px;
        margin-top: 20px;
    }
    .titleCuisine {
        padding: 20px;
        background-color: #FCF5C7;
        display: inline-block;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .cuisineContainer {
        margin-bottom: 60px;
        margin-top: 50px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }
    .cuisineContainer img {
        width: 300px;
        margin-bottom: 10px;
        margin-top: 30px
    }
    .cuisineContainer h5 {
        font-family: 'Merriweather', serif;
        font-size: 20px ;
    }
    .cuisine {
        text-align: center;
    }
    .titlePlace {
        padding: 20px 49px 20px 49px;
        background-color: #FCF5C7;
        display: inline-block;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .contact {
        flex-direction: row;
        display: flex;
        margin-bottom: 20px;
    }
    .titleContact {
        padding: 20px 40px 20px 40px;
        background-color: #FCF5C7;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .footer {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .footerImg {
        flex: 1;
        text-align: center;
      
    }
    .footerImg img {
        width: 35px;
        height: 35px;
    }
    .mobileMenu {
        position: sticky;
        top: 0;
        background-color: #c6b1b1;
        opacity: 0.9;
        display: flex;
        justify-content: space-between;
    }
    .mobileMenu img {
        width: 28px;
        height: 28px;
        color: black;
        padding: 20px;
    }
    .overlay {
        position: fixed;
        top: 72px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
    }
    .navMobile {
        position: fixed;
        top: 72px;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        transform: translateX(100%);
        background-color: #c6b1b1;
        opacity: 0.9;
        transition: transform linear 0.2s;
    }
    .navMobileList {
        margin-top: 24px;
    }
    .navMobileLink {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 8px 0;
        font-size: 1.4rem;
    }
    .mobileClose {
        display: none;
    }
    .labelMenu {
        display: block;
    }
    .mobileClose img {
        width: 28px;
        height: 28px;
        color: black;
        padding: 20px;
    }
    .navInput:checked ~ .overlay {
        display: block;
    }

    .navInput:checked ~ .navMobile {
        transform: translateX(0%)
    }
    .navInput:checked ~ .mobileMenu .mobileClose {
        display: block;
    }
    .navInput:checked ~ .mobileMenu .labelMenu {
        display: none;
    }
}
/*Table >=740 & <=1024*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
      ul{
        width: 100%;
        display: table;
        text-align: center;
     }
    li {
        /* display: inline-block; */
        padding: 20px;
        height: 30px;
        line-height: 30px;
        list-style-type: none;
    }
    li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 20px;
        font-family: sans-serif;
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }
    .menuItem a:hover {
        color: white;
        /* transform: translateY(5px); */
        background-color: #c6b1b1;
    }
    .leftMenu {
        float: left;   
    }
    .leftMenu a {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    #menu {
            /* position: sticky;
             top: 0;
             background-color: #c6b1b1;
             opacity: 0.9; */
             display: none;
    }
    
    #body {
        position: absolute;
        top: 0;
        margin: auto
    }
    .homeImg {
        margin-bottom: 2px;
        display: block;
        width: 100%;
        height: 800px;
        object-fit: cover;
        overflow: hidden;
        margin-top: -77px;
    }
    .welcomeContainer {
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-bottom: 250px;
        margin-top: 250px;
    }
    .welcomeContainer img {
        width: 350px;
    }
    .welcomeRight {
        max-width: 400px;
        margin-left: 100px;
    }
    .welcomeRight p {
        display: inline-block;
        margin-bottom: 80px;
        margin-top: 60px;
        color: #807891;
        font-family: 'Cookie', cursive;
        font-size: 35px;
        font-weight: 400;
    }
    .welcomeRight h3 {
        margin-bottom: 40px;
        color: #CECECE;
        font-weight: 500;
        font-family: 'Cookie', cursive;
        font-size: 70px;
    }
    .welcomeRight h2 {
        margin-bottom: 40px;
        font-weight: 200;
        font-family: 'Cinzel', serif;
        font-size: 30px;
        font-weight: 600;
    }
    .welcomeRight a {
        color: #A6A6A6;
        font-size: 32px;
        font-weight: 600;
       
        padding: 20px;
        border: 2px solid #101010;
        border-radius: 5px;
        text-decoration: none;
        font-family: 'Cookie', cursive;
    }
    .line {
        border-top: 2px solid #CECECE;
    }
    .place { 
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("HomeImages/chua.jpg");
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }

    .food h3 {
        font-family: 'Cinzel', serif;
        font-weight: 900;
        font-size: 30px;
    }

    #localCuisine{
        margin-bottom: 1px;
    }
    .place img {
        width: 300px
    }
    .food {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .food img{
        width: 100px;
        margin-top: 20px;
    }
    .titleCuisine {
        padding: 20px;
        background-color: #FCF5C7;
        display: inline-block;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .cuisineContainer {
        margin-bottom: 150px;
        margin-top: 60px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }
    .cuisineContainer h5 {
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }
    .cuisineContainer img {
        width: 600px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .cuisine {
        text-align: center;
    }
    .titlePlace {
        padding: 20px 49px 20px 49px;
        background-color: #FCF5C7;
        display: inline-block;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .contact {
        flex-direction: row;
        display: flex;
        margin-bottom: 20px;
    }
    .titleContact {
        padding: 20px 40px 20px 40px;
        background-color: #FCF5C7;
        border-top: 5px solid #FFC09Fc7;
        border-left: 5px solid #FFC09Fc7;
        border-style: outset;
        margin-left: 40px;
        margin-top: 30px;
        font-family: 'Merriweather', serif;
        font-weight: 900;
    }
    .footer {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .footerImg {
        flex: 1;
        text-align: center;
      
    }
    .footerImg img {
        width: 35px;
        height: 35px;
    }
    .mobileMenu {
        position: sticky;
        top: 0;
        background-color: #c6b1b1;
        opacity: 0.9;
        display: flex;
        justify-content: space-between;
    }
    .mobileMenu img {
        width: 28px;
        height: 28px;
        color: black;
        padding: 20px;
    }
    .overlay {
        position: fixed;
        top: 72px;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
    }
    .navMobile {
        position: fixed;
        top: 72px;
        bottom: 0;
        right: 0;
        width: 320px;
        max-width: 100%;
        transform: translateX(100%);
        background-color: #c6b1b1;
        opacity: 0.9;
        transition: transform linear 0.2s;
    }
    .navMobileList {
        margin-top: 24px;
    }
    .navMobileLink {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 8px 0;
        font-size: 1.4rem;
    }
    .mobileClose {
        display: none;
    }
    .labelMenu {
        display: block;
    }
    .mobileClose img {
        width: 28px;
        height: 28px;
        color: black;
        padding: 20px;
    }
    .navInput:checked ~ .overlay {
        display: block;
    }

    .navInput:checked ~ .navMobile {
        transform: translateX(0%)
    }
    .navInput:checked ~ .mobileMenu .mobileClose {
        display: block;
    }
    .navInput:checked ~ .mobileMenu .labelMenu {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1680px) {
    #exploreMore {
        padding-top: 0px;
    }
}
